<div class="mt-2 p-2 bg-secondary text-white rounded-3">
  <h1>Signal</h1>
  <p>Create Signal, Update and Display</p>
</div>

<div class="row">
  <div class="col-3">
    {{ firstName() }} - {{ courseName }}
  </div>
  <div class="col-3">
    {{ rollNo() }}
  </div>
  <div class="col-3">
    fullName --- {{fullName()}}
  </div>
  <div class="col-3">
    {{cityList()}}
  </div>
</div>
<div class="row">
  <div class="col-3">
    <button class="btn btn-success" (click)="changeFirstName()">
      Change Signal Value
    </button>
  </div>
  <div class="col-3">
    <button class="btn btn-primary" (click)="changeRollNo()">
      Change Roll No
    </button>
  </div>
  <div class="col-3">
    <button class="btn btn-primary" (click)="computedFirstNameHandle()">
      Computed First Name
    </button>
    <button class="btn btn-primary" (click)="computedLastNameHandle()">
      Computed Last Name
    </button>
  </div>
  <div class="col-3">
    <button class="btn btn-primary" (click)="addCityNameHandle()">
      Add City Name
    </button>
  </div>
</div>

<div class="row">
  <div class="col-3">
    {{stdData().stdId}}
    {{stdData().stdName}}
  </div>
</div>
<div class="row">
  <div class="col-3">
    <button class="btn btn-primary" (click)="updateObjHandle()">
      Update Object
    </button>
  </div>
</div>
