<h2 class="bg-primary p-2 text-center text-white">&#64; for works here!</h2>
<div class="row">
  <div class="col-3">
    <ul>
      @for (item of cityArray; track $index) {

      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div class="col-3">
    @for (item of cityArray; track $index) {

    <div>{{ item }}</div>
    }
  </div>
  <div class="col-3">
    <select class="w-75">
      @for (item of cityArray; track $index) {
      <option value="" hidden>Select city</option>
      <option value="">{{ item }}</option>
      }
    </select>
  </div>
  <div class="col-3">
    <select class="w-75">
      @for (item of studentList; track $index) {
      <option value="" hidden>Select student</option>
      <option [value]="item.stdId">{{ item.name }}</option>
      }
    </select>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <table class="w-100 table table-bordered">
      <thead>
        <tr>
          <th>Sr no</th>
          <th>Name</th>
          <th>City</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @for (item of studentList; track $index) {

        <tr>
          <td>{{ $index+1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.status }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
